/* Subtítulo */
.hero p {
    color: white !important; /* Mantener blanco */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Sombra para resaltar */
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

/* Botón hero */
.btnp {
    color: white !important;
    
    border: 1px solid white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7); /* Sombra del texto */
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.btnp:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
    .section-title {
      margin-bottom: 2rem;
      text-align: center;
    }
    .card img {
      height: 220px;
      object-fit: cover;
    }
    footer {
      background-color: #343a40;
      color: white;
      padding: 2rem 0;
    }
       .navbar-brand img {
            height: 40px;
            margin-right: 10px;
        }