/* Subtítulo */
  .hero p {
        color: black !important; /* Mantener blanco */
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Sombra para resaltar */
        font-size: 2rem;
        margin-bottom: 1.5rem;
        }

/* Botón hero */
.btnp {
    color: white !important;
    
    border: 1px solid white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7); /* Sombra del texto */
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.btnp:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
    .section-title {
      margin-bottom: 2rem;
      text-align: center;
    }
    .card img {
      height: 220px;
      object-fit: cover;
    }
    footer {
      background-color: #343a40;
      color: white;
      padding: 2rem 0;
    }
       .navbar-brand img {
            height: 40px;
            margin-right: 10px;
        }
      .card {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
  @media (max-width: 768px) {
    .hero {
        min-height: 50vh;
        padding: 1.5rem;
         background-position: center center;
          background-size: cover;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.2rem;
    }
}



@media (max-width: 480px) {
    .hero {
        min-height: 40vh;
        padding: 1rem;
         background-position: center center;
          background-size: cover;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }
}